<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Restaurants</h1>
    <a href="<%= new_restaurant_path %>" class="btn btn-primary">Add New Restaurant</a>
  </div>

  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
          <li class="list-group-item">
            <strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
