<div class="container my-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Reviews for <%= @restaurant.name %></h2>
    </div>
    <div class="card-body">
      <% if @restaurant.reviews.any? %>
        <ul class="list-group">
          <% @restaurant.reviews.each do |review| %>
            <li class="list-group-item">
              <strong>Rating:</strong> <%= review.rating %>/5 <br>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No reviews available for this restaurant.</p>
      <% end %>
      <div class="mt-4">
        <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
